<html>
  <head>
    <title>CannonJS</title>
  </head>
  <body>
    <h1>Welcome to CannonJS!</h1>
    
    <% users.forEach(user => { %>
      <p>User: <%= user.name %></p>
      <p>Email: <%= user.phone %></p>
    <% }) %>
  </body>
</html>
